/*

  案件ごとの変数を格納するファイル

*/

// ===========================
// 画像ディレクトリ
// ===========================
$IMG_DIR: '../images/';


// ===========================
// ブレイクポイント
// ../_libs/maam/breakpoint で利用
// ===========================
$bp: 768 !default;      //sp ↔︎ pc(タブレット含む)
$bp-pc: 1200 !default;  //pc さらに大きいブレイクポイントが必要になった時

//px単位に変換
$BREAKPOINT: #{$bp}px !default;
$BREAKPOINT_O: #{$bp+1}px !default;
$BREAKPOINT_PC: #{$bp-pc}px !default;


// ===========================
// デザインカンプのサイズ
// ===========================
$w-sp: 750;
$w-pc: 1280;

// PC コンテンツ最大幅
$contW-pc: 1100;

// ===========================
// フォント設定
// ===========================
$fontBaseSize: 14px;

// rem指定
// PCのrem指定を固定値にする場合は'fix'に。variableだとコンテンツ幅まで可変になります。
// remを使用しないならコメントアウトしてください。
$fontBaseSize-rem: 'variable';


// ===========================
// カラー設定
// ===========================
//色設定
$bk: #000 !default;
$wh: #fff !default;


//色(プロジェクトごと)
$main: #ff2e79;
$pink: #ff1dd4;
$blue: #2fede7;
$yellow: #fff200;


// ===========================
// z-index
// 大枠レイアウト管理用。map内のkeyとvalueは構造に合わせて適宜書き換えてください。
// ../_libs/maam/z-index で利用
// ===========================
$z: (
  intro: 2,
  modal: 2,
  header: 1,
  pagetop: 1,
  content: 0,
) !default;
