include ../_data/data
include ../_data/modal_items
include ../_data/svg

include ../_libs/maam/_utils
include ../_project/itemCredit
include ../_project/mixin

//- include ../_mixin/maam/share
//- include ../_mixin/maam/text_split
//- include ../_mixin/maam/picture

block data

doctype html
html(lang="ja")
  head
    include head
    block head

  body
    block content
    block loading
    block script
