-
  // webP変換後、falseに変更する
  let devMode = false

  const main = {
    lead: ''
  }

  const contents = {
    online_link: {
      text: 'ONLINE STORE',
      url:'adastriaapp://items?dispNo=0000100017_002005079&orderBy=00'
    }
  }

  const profile = {
    chara: [
      '本名はキティ・ホワイト。生まれた場所はイギリス ロンドンの郊外。身長はりんご５個分。体重はりんご３個分。明るくてやさしい女のコ。',
      '本名はミミィ・ホワイト。双子の妹。ちょっぴり内気で、はずかしがり屋さん。とっても女のコらしい女のコ。キティと見分けがつくように、右の耳にリボンをつけている。',
      'カミナリの国で生まれた、雨が嫌いな、やんちゃな3つ子の兄弟。サンダースクールに通っている。青い髪のゴロは次男。ひょうきんで食いしん坊。ピンクの髪のピカは末っ子。甘えん坊でひっこみ思案だけど、カミナリだいこが得意。動物と話ができる。緑の髪のドンは長男。まじめできちょうめん。発明好きで、ノーベル賞をねらっている。',
      'フランスのパリの郊外で生まれたウサギの女のコ。お菓子作りや手芸が得意で、とってもオシャレさん。どんな時でも明るくて前向き。リセ（フランスの学校）に通っている。シナモンは、親友のネズミくん。',
      'すなおで明るい、弟思いの女のコ。宝物は、おばあちゃんが作ってくれた、かわいいずきん。お母さんといっしょにクッキーを焼くのが好き。好きな食べ物は、アーモンドパウンドケーキ 。',
      '南極のタキシードアイランドからやってきた、おしゃれなペンギンの男のコ。食いしん坊で、ちょっぴりドジくん。蝶ネクタイを365本も持ってる。由緒ある家柄で、イギリス留学もしたことがある。英語もペラペラ。バスト、ウエスト、ヒップ、すべて100cmの体形。',
      '名前の由来は、ぽちゃぽちゃしているからポチャッコ。好奇心旺盛でおっちょこちょいで、ちょっぴりおせっかい。より道お散歩が大好きなイヌの男のコ。ふわふわタウンのはずれ、うぐいす横丁生まれ。',
      'ゆめ星雲の思いやり星でうまれたふたごのきょうだい星。立派に輝く星になるために遠い星の国からやってきた。お姉さんのララは、こわがりでちょっぴり泣き虫。弟のキキは好奇心旺盛。ちょっぴりあわてんぼうでいたずら好き。',
      'のんびり屋さんだけど、好奇心いっぱい。食いしん坊で、お菓子や野菜を作りながら暮らしている。親友のタビーは、お菓子作りの先生。フランスの片田舎生まれ。',
      '冒険好きで、元気いっぱい！ドーナツ池の人気者。ころっぴ、ぴっきと、三つ子のきょうだい。カエル泳ぎは苦手で、クロールが得意。歌が上手なカエルの男のコ。ドーナツ池の島にある「けろけろハウス」に住んでいる。',
      'アメリカのカンザスシティに住んでいるラブラブカップル。パティはスポーツ万能だけど、勉強はちょっと苦手。元気いっぱいで、おてんばな女の子。ジミーは、パティの隣りの家に住んでいて、勉強とチェスが得意なやさしい男の子。将来の夢は大統領になること。',
      'キャンディやリップスティックなどをちりばめたおしゃれなパターンデザイン。'
    ]
  }

  const homeUrl = 'https://www.dot-st.com/studioclip/'

  const nav = {
    online: 'adastriaapp://items?dispNo=0000100017_002005079&orderBy=00',
    links: [
      {
        name: 'Back to 80’s',
        id: 'look'
      },
      {
        name: 'LINE UP',
        id: 'line_up'
      },
      {
        name: 'Sanrio characters',
        id: 'profile'
      },
    ]
  }

  const footer = {
    links: [
      {
        name: 'ONLINE SHOP',
        url: 'https://www.dot-st.com/studioclip/'
      },
      {
        name: 'STAFF BOARD',
        url: 'https://www.dot-st.com/cp/sb-staff/'
      },
      {
        name: 'SHOP LIST',
        url: 'https://www.dot-st.com/studioclip/info/storelist/'
      },
      {
        name: 'INSTAGRAM',
        url: 'https://www.instagram.com/studioclip/?hl=ja'
      },
    ]
  }
