-
  const line_up = [
    {
      slide: 1,
      credit: [
        { name: 'ルームフレグランス<br>（<span>ハローキティ</span>）', price:3990, url:'adastriaapp://item?itemCode=321631' },
      ]
    },
    {
      slide: 1,
      credit: [
        { name: 'グラス（<span>ハローキティ</span> / <br class=""><span>ゴロピカドン</span>）', each: true, price:1590, url:'adastriaapp://item?itemCode=319597' },
      ]
    },
    {
      slide: 1,
      credit: [
        { name: 'ティッシュケース<br>（<span>ハローキティ</span>）', price:1590, url:'adastriaapp://item?itemCode=303575' },
      ]
    },
    {
      slide: 3,
      credit: [
        { name: 'トランクBOX<br class="sp">（<span>ハローキティ</span>）', price:3300, url:'adastriaapp://item?itemCode=319598' },
      ]
    },
    {
      slide: 2,
      credit: [
        { name: 'メジャー（<span>ゴロピカドン</span>）', price:990, url:'adastriaapp://item?itemCode=323722' },
      ]
    },
    {
      slide: 2,
      credit: [
        { name: 'マスキングテープ<br class="sp">（<span>マロンクリーム</span> / <br class="sp"><span>パティ＆ジミー</span>）', each: true, price:550, url:'adastriaapp://item?itemCode=320735' },
      ]
    },
    {
      slide: 2,
      credit: [
        { name: '貯金箱（<span>ハローキティ</span> / <br class="sp"><span>ハローミミィ</span>）', price:3990, url:'adastriaapp://item?itemCode=321632' },
      ]
    },
    {
      slide: 2,
      credit: [
        { name: 'ハンドミラー<br>（<span>リトルツインスターズ</span>）', price:1290, url:'adastriaapp://item?itemCode=323719' },
        { name: 'コーム<br class="sp">（<span>リトルツインスターズ</span>）', price:1290, url:'adastriaapp://item?itemCode=323720' },
      ]
    },
    {
      slide: 1,
      credit: [
        { name: '浮き輪チャーム<br class="sp">（<span>ハローキティ</span> / <span>マイメロディ</span> / <span>タキシードサム</span>）', each: true, price:880, url:'adastriaapp://item?itemCode=323723' },
      ]
    },
    {
      slide: 2,
      credit: [
        { name: 'ロケット鉛筆 2本セット<br class="sp">（<span>ハローキティ</span> / <br class="sp"><span>パティ＆ジミー</span>）', price:770, url:'adastriaapp://item?itemCode=323718' },
      ]
    },
    {
      slide: 1,
      credit: [
        { name: '巾着Sサイズ<br class="sp">（<span>ザシキブタ</span>）', price:1390, url:'adastriaapp://item?itemCode=303525' },
      ]
    },
    {
      slide: 1,
      credit: [
        { name: '巾着Mサイズ<br class="sp">（<span>マロンクリーム</span>）', price:1690, url:'adastriaapp://item?itemCode=303524' },
      ]
    },
    {
      slide: 1,
      credit: [
        { name: 'レッスントート<br class="sp">（<span>ハローキティ</span> / <br class="sp"><span>フレッシュパンチ</span>）', each: true, price:2200, url:'adastriaapp://item?itemCode=303526' },
      ]
    },
    {
      slide: 1,
      credit: [
        { name: 'ポーチ（<span>マイメロディ</span>）', price:1690, url:'adastriaapp://item?itemCode=303576' },
      ]
    },
    {
      slide: 2,
      credit: [
        { name: 'ラッピングセット<br class="sp">（<span>サンリオキャラクターズ</span>）', price:1320, url:'adastriaapp://item?itemCode=303577', note: '※袋5枚 / シール5枚<br>チャーム3個' },
      ]
    },
    {
      slide: 2,
      credit: [
        { name: 'ノート（<span>ハローキティ</span> / <br class="sp"><span>パティ＆ジミー</span>）', each: true, price:495, url:'adastriaapp://item?itemCode=320763' },
      ]
    },
    {
      slide: 1,
      credit: [
        { name: 'カードケース<br class="sp">（<span>パティ＆ジミー</span>）', price:1100, url:'adastriaapp://item?itemCode=303523' },
      ]
    },
    {
      slide: 2,
      credit: [
        { name: '切手型シール 2枚セット<br class="sp">（<span>サンリオキャラクターズ</span>）', price:495, url:'adastriaapp://item?itemCode=323721' },
      ]
    },
    {
      slide: 2,
      credit: [
        { name: 'フォルムクリップセット<br class="sp">（<span>ハローキティ</span> / <br class="sp"><span>リトルツインスターズ</span>）', each: true, price:880, url:'adastriaapp://item?itemCode=320740' },
      ]
    },
    {
      slide: 2,
      credit: [
        { name: 'バンダナ<br class="sp">（<span>ハローキティ</span> / <br class="sp"><span>フレッシュパンチ</span>）', each: true, price:990, url:'adastriaapp://item?itemCode=303522' },
      ]
    }
  ]
