-
  //- look 1
  let modalLook1 = {
    modalIndex: 1,
    imgList: "modal_1_1",
    credit: [
      { name: '貯金箱', chara: [ "ハローキティ", "ハローミミィ" ], price: 3990, id: 321632, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=321632&COLOR_CD=09'},
    ]
  }
  let modalLook2 = {
    modalIndex: 2,
    imgList: "modal_1_2",
    credit: [
      { name: '浮き輪チャーム', chara: [ "ハローキティ", "マイメロディ", "タキシードサム" ], price: 880, id: 323723, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=323723', each: true },
    ]
  }
  let modalLook3 = {
    modalIndex: 3,
    imgList: "modal_1_3",
    credit: [
      { name: '切手型シール 2枚セット', chara: [ "サンリオキャラクターズ" ], price: 495, id: 323721, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=323721&COLOR_CD=09'},
      { name: 'マスキングテープ', chara: [ "マロンクリーム" ], price: 550, id: 320735, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=320735&COLOR_CD=01' },
    ]
  }
  let modalLook4 = {
    modalIndex: 4,
    imgList: "modal_1_4_1,modal_1_4_2",
    credit: [
      { name: 'ノート', chara: [ "ハローキティ", "パティ＆ジミー" ], price: 495, id: 320763, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=320763', each: true },
      { name: 'ロケット鉛筆 2本セット', chara: [ "ハローキティ", "パティ＆ジミー" ], price: 770, id: 323718, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=323718&COLOR_CD=09'},
    ]
  }
  let modalLook5 = {
    modalIndex: 5,
    imgList: "modal_1_5",
    credit: [
      { name: 'フォルムクリップセット', chara: [ "ハローキティ", "リトルツインスターズ" ], price: 880, id: 320740, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=320740', each: true},
      { name: 'メジャー', chara: [ "ゴロピカドン" ], price: 990, id: 323722, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=323722&COLOR_CD=09'},
    ]
  }
  let modalLook6 = {
    modalIndex: 6,
    imgList: "modal_1_6",
    credit: [
      { name: 'ノート', chara: [ "ハローキティ", "パティ＆ジミー" ], price: 495, id: 320763, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=320763', each: true },
      { name: 'ロケット鉛筆 2本セット', chara: [ "ハローキティ", "パティ＆ジミー" ], price: 770, id: 323718, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=323718&COLOR_CD=09'},
      { name: 'マスキングテープ', chara: [ "マロンクリーム", "パティ＆ジミー" ], price: 550, id: 320735, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=320735', each: true },
    ]
  }
  let modalLook7 = {
    modalIndex: 7,
    imgList: "modal_1_7",
    credit: [
      { name: 'レッスントート', chara: [ "ハローキティ" ], price: 2200, id: 303526, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=303526&COLOR_CD=01' },
    ]
  }

  //- look 2
  let modalLook8 = {
    modalIndex: 8,
    imgList: "modal_2_1_1,modal_2_1_2,modal_2_1_3",
    credit: [
      { name: 'ルームフレグランス', chara: [ "ハローキティ" ], price: 3990, id: 321631, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=321631&COLOR_CD=09'},
      { name: 'ティッシュケース', chara: [ "ハローキティ" ], price: 1590, id: 303575, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=303575&COLOR_CD=09'},
    ]
  }
  let modalLook9 = {
    modalIndex: 9,
    imgList: "modal_2_2",
    credit: [
      { name: 'ステム付きグラス', chara: [ "ハローキティ", "ゴロピカドン" ], price: 1590, id: 319597, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=319597', each: true },
    ]
  }
  //- modal_2_3 クレジット確認 ↓
  let modalLook10 = {
    modalIndex: 10,
    imgList: "modal_2_3",
    credit: [
      { name: 'バンダナ', chara: [ "ハローキティ" ], price: 990, id: 303522, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=303522&COLOR_CD=01'},
      { name: 'ラッピングセット', chara: [ "サンリオキャラクターズ" ], price: 1320, id: 303577, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=303577&COLOR_CD=09', note: '※袋5枚 / シール5枚 / チャーム3個'},
    ]
  }
  let modalLook11 = {
    modalIndex: 11,
    imgList: "modal_2_4",
    credit: [
      { name: 'バンダナ', chara: [ "フレッシュパンチ" ], price: 990, id: 303522, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=303522&COLOR_CD=02'},
      { name: 'ステム付きグラス', chara: [ "ゴロピカドン" ], price: 1590, id: 319597, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=319597&COLOR_CD=01' },
    ]
  }
  let modalLook12 = {
    modalIndex: 12,
    imgList: "modal_2_5",
    credit: [
      { name: 'ラッピングセット', chara: [ "サンリオキャラクターズ" ], price: 1320, id: 303577, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=303577&COLOR_CD=09', note: '※袋5枚 / シール5枚 / チャーム3個'},
    ]
  }

  //- look 3
  let modalLook13 = {
    modalIndex: 13,
    imgList: "modal_3_1_1,modal_3_1_2",
    credit: [
      { name: 'トランクBOX', chara: [ "ハローキティ" ], price: 3300, id: 319598, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=319598&COLOR_CD=09'},
      { name: 'カードケース', chara: [ "パティ＆ジミー" ], price: 1100, id: 303523, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=303523&COLOR_CD=09'},
      { name: 'バンダナ', chara: [ "ハローキティ" ], price: 990, id: 303522, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=303522&COLOR_CD=01'},
    ]
  }
  let modalLook14 = {
    modalIndex: 14,
    imgList: "modal_3_2",
    credit: [
      { name: '巾着Sサイズ', chara: [ "ザシキブタ" ], price: 1390, id: 303525, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=303525&COLOR_CD=09'},
      { name: 'レッスントート', chara: [ "フレッシュパンチ" ], price: 2200, id: 303526, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=303526&COLOR_CD=02' },
    ]
  }
  let modalLook15 = {
    modalIndex: 15,
    imgList: "modal_3_3",
    credit: [
      { name: 'ポーチ', chara: [ "マイメロディ" ], price: 1690, id: 303576, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=303576&COLOR_CD=09'},
    ]
  }
  let modalLook16 = {
    modalIndex: 16,
    imgList: "modal_3_4",
    credit: [
      { name: 'コーム', chara: [ "リトルツインスターズ" ], price: 1290, id: 323720, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=323720&COLOR_CD=09'},
      { name: 'ハンドミラー', chara: [ "リトルツインスターズ" ], price: 1290, id: 323719, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=323719&COLOR_CD=09'},
    ]
  }
  let modalLook17 = {
    modalIndex: 17,
    imgList: "modal_3_5",
    credit: [
      { name: '巾着Mサイズ', chara: [ "マロンクリーム" ], price: 1690, id: 303524, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=303524&COLOR_CD=09'},
    ]
  }
  let modalLook18 = {
    modalIndex: 18,
    imgList: "modal_3_6",
    credit: [
      { name: 'ポーチ', chara: [ "マイメロディ" ], price: 1690, id: 303576, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=303576&COLOR_CD=09'},
      { name: 'コーム', chara: [ "リトルツインスターズ" ], price: 1290, id: 323720, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=323720&COLOR_CD=09'},
      { name: 'ハンドミラー', chara: [ "リトルツインスターズ" ], price: 1290, id: 323719, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=323719&COLOR_CD=09'},
      { name: '巾着Mサイズ', chara: [ "マロンクリーム" ], price: 1690, id: 303524, url: 'https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=303524&COLOR_CD=09'},
    ]
  }

  let modalLookList = [ modalLook1, modalLook2, modalLook3, modalLook4,modalLook5, modalLook6, modalLook7, modalLook8, modalLook9, modalLook10, modalLook11, modalLook12, modalLook13, modalLook14, modalLook15, modalLook16, modalLook17, modalLook18 ]
